<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>03-LayerAnimatableProperties.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCC9245C1C40B12700A2EF74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC924751C40B12800A2EF74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC924801C40B12800A2EF74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
